<a href="https://colab.research.google.com/github/ludanzhan/Deep-Learning/blob/main/Starter_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [4]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

In [5]:
from google.colab import files
uploaded_files = files.upload()

Saving charity_data.csv to charity_data.csv

In [6]:
# read the csv file
application_df = pd.read_csv("charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

According to the reseacrh question, the "target" of this model is "IS_SUCCESSFUL" and the features are the rest of the variables

In [7]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
application_df  = application_df.drop(['EIN', 'NAME'], axis = 1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [8]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [9]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
countType = application_df['APPLICATION_TYPE'].value_counts()
countType

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [14]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
application_types_to_replace = list(countType[countType < 600].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: APPLICATION_TYPE, dtype: int64

In [15]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
countClass = application_df['CLASSIFICATION'].value_counts()
countClass

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [16]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
countClass[countClass>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [17]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
classifications_to_replace = list(countClass[countClass < 2000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
Other     6062
C1200     4837
Name: CLASSIFICATION, dtype: int64

In [18]:
application_df.dtypes

APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [19]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
application_df = pd.get_dummies(application_df, 
                          columns=['APPLICATION_TYPE', 'CLASSIFICATION','AFFILIATION','USE_CASE','ORGANIZATION','INCOME_AMT','SPECIAL_CONSIDERATIONS'],
                          drop_first=True, dtype=float)

application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,CLASSIFICATION_C1200,CLASSIFICATION_C2000,...,ORGANIZATION_Trust,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,108590,1,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,5000,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,6692,1,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,142590,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
y = application_df['IS_SUCCESSFUL'].values
X = application_df.drop(columns = 'IS_SUCCESSFUL').values

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [21]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [22]:
len( X_train_scaled[0])

31

## Compile, Train and Evaluate the Model

In [30]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=7, activation="relu", input_dim=31))

# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=14, input_dim=31,activation="relu"))

# Output layer
#  YOUR CODE GOES HERE

nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_7 (Dense)             (None, 7)                 224

 dense_8 (Dense)             (None, 14)                112

 dense_9 (Dense)             (None, 1)                 15

=================================================================
Total params: 351
Trainable params: 351
Non-trainable params: 0
_________________________________________________________________

In [31]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [33]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.15, epochs=100)

Epoch 1/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5505 - accuracy: 0.7344 - val_loss: 0.5696 - val_accuracy: 0.7266
Epoch 2/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5497 - accuracy: 0.7343 - val_loss: 0.5686 - val_accuracy: 0.7276
Epoch 3/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5501 - accuracy: 0.7343 - val_loss: 0.5757 - val_accuracy: 0.7243
Epoch 4/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5502 - accuracy: 0.7339 - val_loss: 0.5708 - val_accuracy: 0.7253
Epoch 5/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5505 - accuracy: 0.7334 - val_loss: 0.5687 - val_accuracy: 0.7289
Epoch 6/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5498 - accuracy: 0.7338 - val_loss: 0.5714 - val_accuracy: 0.7274
Epoch 7/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5498 - accuracy: 0.7345 - val_loss: 0.5748 - val_accuracy: 0.7196
Epoch 8/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5505 - accuracy: 0.7331 - val_loss: 0.5701 - val_accuracy: 0.7282
Epoch 9/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5502 - accuracy: 0.7333 - val_loss: 0.5723 - val_accuracy: 0.7251
Epoch 10/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5499 - accuracy: 0.7335 - val_loss: 0.5755 - val_accuracy: 0.7243
Epoch 11/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5502 - accuracy: 0.7344 - val_loss: 0.5705 - val_accuracy: 0.7258
Epoch 12/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5500 - accuracy: 0.7340 - val_loss: 0.5710 - val_accuracy: 0.7261
Epoch 13/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5499 - accuracy: 0.7335 - val_loss: 0.5720 - val_accuracy: 0.7232
Epoch 14/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5497 - accuracy: 0.7336 - val_loss: 0.5735 - val_accuracy: 0.7258
Epoch 15/100
684/684 [==============================] - 3s 5ms/step - loss: 0.5500 - accuracy: 0.7337 - val_loss: 0.5717 - val_accuracy: 0.7245
Epoch 16/100
684/684 [==============================] - 3s 5ms/step - loss: 0.5502 - accuracy: 0.7334 - val_loss: 0.5712 - val_accuracy: 0.7240
Epoch 17/100
684/684 [==============================] - 3s 5ms/step - loss: 0.5499 - accuracy: 0.7339 - val_loss: 0.5701 - val_accuracy: 0.7240
Epoch 18/100
684/684 [==============================] - 3s 5ms/step - loss: 0.5499 - accuracy: 0.7335 - val_loss: 0.5703 - val_accuracy: 0.7264
Epoch 19/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5497 - accuracy: 0.7346 - val_loss: 0.5707 - val_accuracy: 0.7217
Epoch 20/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5499 - accuracy: 0.7338 - val_loss: 0.5703 - val_accuracy: 0.7245
Epoch 21/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5502 - accuracy: 0.7334 - val_loss: 0.5715 - val_accuracy: 0.7196
Epoch 22/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5497 - accuracy: 0.7334 - val_loss: 0.5709 - val_accuracy: 0.7251
Epoch 23/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5501 - accuracy: 0.7344 - val_loss: 0.5702 - val_accuracy: 0.7261
Epoch 24/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5498 - accuracy: 0.7346 - val_loss: 0.5713 - val_accuracy: 0.7258
Epoch 25/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5498 - accuracy: 0.7336 - val_loss: 0.5713 - val_accuracy: 0.7251
Epoch 26/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5499 - accuracy: 0.7340 - val_loss: 0.5707 - val_accuracy: 0.7276
Epoch 27/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5497 - accuracy: 0.7329 - val_loss: 0.5702 - val_accuracy: 0.7269
Epoch 28/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5496 - accuracy: 0.7340 - val_loss: 0.5716 - val_accuracy: 0.7251
Epoch 29/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5499 - accuracy: 0.7326 - val_loss: 0.5704 - val_accuracy: 0.7297
Epoch 30/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5495 - accuracy: 0.7347 - val_loss: 0.5693 - val_accuracy: 0.7227
Epoch 31/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5500 - accuracy: 0.7335 - val_loss: 0.5708 - val_accuracy: 0.7258
Epoch 32/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5497 - accuracy: 0.7330 - val_loss: 0.5704 - val_accuracy: 0.7287
Epoch 33/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5498 - accuracy: 0.7350 - val_loss: 0.5736 - val_accuracy: 0.7240
Epoch 34/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5498 - accuracy: 0.7346 - val_loss: 0.5715 - val_accuracy: 0.7282
Epoch 35/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5499 - accuracy: 0.7334 - val_loss: 0.5714 - val_accuracy: 0.7235
Epoch 36/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5494 - accuracy: 0.7341 - val_loss: 0.5707 - val_accuracy: 0.7264
Epoch 37/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5495 - accuracy: 0.7339 - val_loss: 0.5722 - val_accuracy: 0.7214
Epoch 38/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5495 - accuracy: 0.7338 - val_loss: 0.5724 - val_accuracy: 0.7266
Epoch 39/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5499 - accuracy: 0.7344 - val_loss: 0.5734 - val_accuracy: 0.7251
Epoch 40/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5495 - accuracy: 0.7347 - val_loss: 0.5708 - val_accuracy: 0.7256
Epoch 41/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5494 - accuracy: 0.7340 - val_loss: 0.5709 - val_accuracy: 0.7225
Epoch 42/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5495 - accuracy: 0.7341 - val_loss: 0.5682 - val_accuracy: 0.7261
Epoch 43/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5496 - accuracy: 0.7342 - val_loss: 0.5704 - val_accuracy: 0.7258
Epoch 44/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5495 - accuracy: 0.7333 - val_loss: 0.5712 - val_accuracy: 0.7256
Epoch 45/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5493 - accuracy: 0.7340 - val_loss: 0.5696 - val_accuracy: 0.7274
Epoch 46/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5495 - accuracy: 0.7333 - val_loss: 0.5721 - val_accuracy: 0.7256
Epoch 47/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5495 - accuracy: 0.7350 - val_loss: 0.5698 - val_accuracy: 0.7256
Epoch 48/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5498 - accuracy: 0.7336 - val_loss: 0.5716 - val_accuracy: 0.7266
Epoch 49/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5498 - accuracy: 0.7347 - val_loss: 0.5698 - val_accuracy: 0.7256
Epoch 50/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5491 - accuracy: 0.7342 - val_loss: 0.5703 - val_accuracy: 0.7230
Epoch 51/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5500 - accuracy: 0.7339 - val_loss: 0.5694 - val_accuracy: 0.7266
Epoch 52/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5496 - accuracy: 0.7335 - val_loss: 0.5693 - val_accuracy: 0.7261
Epoch 53/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5499 - accuracy: 0.7331 - val_loss: 0.5692 - val_accuracy: 0.7284
Epoch 54/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5495 - accuracy: 0.7340 - val_loss: 0.5702 - val_accuracy: 0.7253
Epoch 55/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5496 - accuracy: 0.7342 - val_loss: 0.5692 - val_accuracy: 0.7251
Epoch 56/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5496 - accuracy: 0.7342 - val_loss: 0.5691 - val_accuracy: 0.7287
Epoch 57/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5496 - accuracy: 0.7335 - val_loss: 0.5688 - val_accuracy: 0.7300
Epoch 58/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5495 - accuracy: 0.7338 - val_loss: 0.5687 - val_accuracy: 0.7274
Epoch 59/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5493 - accuracy: 0.7343 - val_loss: 0.5711 - val_accuracy: 0.7238
Epoch 60/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5493 - accuracy: 0.7342 - val_loss: 0.5699 - val_accuracy: 0.7245
Epoch 61/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5497 - accuracy: 0.7331 - val_loss: 0.5722 - val_accuracy: 0.7240
Epoch 62/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5494 - accuracy: 0.7336 - val_loss: 0.5702 - val_accuracy: 0.7264
Epoch 63/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5494 - accuracy: 0.7345 - val_loss: 0.5704 - val_accuracy: 0.7266
Epoch 64/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5495 - accuracy: 0.7329 - val_loss: 0.5712 - val_accuracy: 0.7235
Epoch 65/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5495 - accuracy: 0.7340 - val_loss: 0.5687 - val_accuracy: 0.7295
Epoch 66/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5494 - accuracy: 0.7341 - val_loss: 0.5687 - val_accuracy: 0.7251
Epoch 67/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5495 - accuracy: 0.7342 - val_loss: 0.5688 - val_accuracy: 0.7266
Epoch 68/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5497 - accuracy: 0.7335 - val_loss: 0.5690 - val_accuracy: 0.7284
Epoch 69/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5492 - accuracy: 0.7342 - val_loss: 0.5693 - val_accuracy: 0.7287
Epoch 70/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5494 - accuracy: 0.7341 - val_loss: 0.5688 - val_accuracy: 0.7271
Epoch 71/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5496 - accuracy: 0.7340 - val_loss: 0.5707 - val_accuracy: 0.7251
Epoch 72/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5488 - accuracy: 0.7345 - val_loss: 0.5697 - val_accuracy: 0.7266
Epoch 73/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5491 - accuracy: 0.7340 - val_loss: 0.5711 - val_accuracy: 0.7264
Epoch 74/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5491 - accuracy: 0.7343 - val_loss: 0.5692 - val_accuracy: 0.7282
Epoch 75/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5492 - accuracy: 0.7350 - val_loss: 0.5704 - val_accuracy: 0.7235
Epoch 76/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5493 - accuracy: 0.7344 - val_loss: 0.5696 - val_accuracy: 0.7266
Epoch 77/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5496 - accuracy: 0.7329 - val_loss: 0.5710 - val_accuracy: 0.7248
Epoch 78/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5491 - accuracy: 0.7345 - val_loss: 0.5689 - val_accuracy: 0.7269
Epoch 79/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5494 - accuracy: 0.7334 - val_loss: 0.5694 - val_accuracy: 0.7266
Epoch 80/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5494 - accuracy: 0.7335 - val_loss: 0.5717 - val_accuracy: 0.7274
Epoch 81/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5493 - accuracy: 0.7340 - val_loss: 0.5700 - val_accuracy: 0.7248
Epoch 82/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5493 - accuracy: 0.7355 - val_loss: 0.5708 - val_accuracy: 0.7240
Epoch 83/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5492 - accuracy: 0.7350 - val_loss: 0.5687 - val_accuracy: 0.7289
Epoch 84/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5492 - accuracy: 0.7347 - val_loss: 0.5686 - val_accuracy: 0.7264
Epoch 85/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5492 - accuracy: 0.7342 - val_loss: 0.5723 - val_accuracy: 0.7251
Epoch 86/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5489 - accuracy: 0.7353 - val_loss: 0.5736 - val_accuracy: 0.7238
Epoch 87/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5490 - accuracy: 0.7344 - val_loss: 0.5696 - val_accuracy: 0.7258
Epoch 88/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5492 - accuracy: 0.7349 - val_loss: 0.5686 - val_accuracy: 0.7269
Epoch 89/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5488 - accuracy: 0.7351 - val_loss: 0.5721 - val_accuracy: 0.7269
Epoch 90/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5490 - accuracy: 0.7338 - val_loss: 0.5689 - val_accuracy: 0.7276
Epoch 91/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5493 - accuracy: 0.7354 - val_loss: 0.5693 - val_accuracy: 0.7258
Epoch 92/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5493 - accuracy: 0.7340 - val_loss: 0.5697 - val_accuracy: 0.7271
Epoch 93/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5491 - accuracy: 0.7346 - val_loss: 0.5707 - val_accuracy: 0.7261
Epoch 94/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5489 - accuracy: 0.7353 - val_loss: 0.5723 - val_accuracy: 0.7264
Epoch 95/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5490 - accuracy: 0.7348 - val_loss: 0.5706 - val_accuracy: 0.7269
Epoch 96/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5489 - accuracy: 0.7343 - val_loss: 0.5720 - val_accuracy: 0.7207
Epoch 97/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5494 - accuracy: 0.7341 - val_loss: 0.5728 - val_accuracy: 0.7240
Epoch 98/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5494 - accuracy: 0.7351 - val_loss: 0.5694 - val_accuracy: 0.7240
Epoch 99/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5493 - accuracy: 0.7335 - val_loss: 0.5698 - val_accuracy: 0.7251
Epoch 100/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5489 - accuracy: 0.7347 - val_loss: 0.5751 - val_accuracy: 0.7251

In [34]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5697 - accuracy: 0.7226 - 314ms/epoch - 1ms/step
Loss: 0.5696834325790405, Accuracy: 0.7225655913352966

In [37]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
from google.colab import files
nn.save("AlphabetSoupCharity_Optimization.h5")
files.download("AlphabetSoupCharity_Optimization.h5")